@import './variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $font-fam;
  transition: all .5s ease;
  padding: 30px 40px 30px 20px;
}
.after-change{
  background-color: $Very-Dark-Blue;
}

.container{
  width: 90%;
  margin: auto;
  padding: 0 50px;
}

/*------- Heading --------*/
.heading{
  position: relative;
    .header{
      font-size: 2em;
    }
    .follower{
      font-size: 1em;   
      color: $Dark-Grayish-Blue;
      font-weight: $heavier-font;
      margin-top: 5px;
    }
}

/*------- Toggle Button --------*/
.switch{
  position: relative;
  float: right;
  margin: -30px 20px 0px 0px;
  width: 160px;

    span{
      font-weight: $heavier-font;
      color: $Dark-Grayish-Blue;
    }
    .switcher{
      position: absolute;
      background-color: $Light-Toggle;
      padding: 10px 20px;
      right: 5%;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: all .8s ease-in-out;

      &::before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: white;
        border-radius: 50%;
        top: 2.45px;
        right: 3px;
        transition: all .3s ease;
      }

      &:focus{
        outline: none;
      }
    }
    .active{
      background: $Dark-Toggle;
    }
    .active::before{
      @extend .switcher::before;
      left: 3px;
      right: 0;
      background-color: $Very-Dark-Blue;
    }
}

// Names in card 
.second{
  margin: 40px 0px 30px 0px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(290px, auto));
  gap: 30px;

    .users{
      position: relative;
      height: auto;
      width: 300px;
      background-color: $Light-Grayish-Blue;
      margin-bottom: 20px;
      padding: 10px;
      overflow: hidden;
      border-radius: 6px;
    }
    .background-changer{
      background-color: $Dark-Desaturated-Blue;
    }

    .name::before{
      content: '';
      position: absolute;
      height: 5px;
      width: 100%;
      top: 0;
      left: 0;
    }
    .name1::before{
      background-color: $Facebook;
    }
    .name2::before{
      background-color: $Twitter;
    }
    .name3::before{
      background: $Instagram;
    }
    .name4::before{
      background-color: $YouTube;
    }

    // Social Icon and names
    .name{
      color: $Dark-Grayish-Blue;
      font-size: 1em;
      font-weight: 700;
      margin: 16px 0 16px 0;
    }
    .social{
      height: 20px;
      margin-bottom: -5px;
      margin-right: 8px;
    }

    .follow-num{
      font-size: 4em;
      font-weight: 700;
      color: $Very-Dark-Blue;
    }
    .follows{
      font-weight: 400;
      letter-spacing: 7px;
      color: $Dark-Grayish-Blue;
      margin-bottom: 25px;
      opacity: .7;
    }
    .updates{
      color: $Lime-Green;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 20px;
    }
    .icon{
      margin: 0px 5px 2px 0px;
    }
    .yt{
      color: $Bright-Red;
    }
}

// Bottom Section (After Overview-Today)
.overview{
  color: $Dark-Grayish-Blue;
  font-size: 24px;
  margin-bottom: 20px;
}
.inner-third{
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, auto));
  grid-template-rows: repeat(2, minmax(180px, auto));
  gap: 20px;

  .page-overview{
    padding: 20px 20px 0px 20px;
    position: relative;
    border-radius: 5px;
    background-color: $Light-Grayish-Blue;
    height: auto;
    width: 300px;
    margin-bottom: 15px;
  }
  .views{
    font-weight: 700;
    color: $Dark-Grayish-Blue;
    margin-bottom: 40px;
    position: relative;
  }
  .bottom-icon{
    position: absolute;
    right: 0;
  }
  .big-num{
    font-size: 2.4em;
    font-weight: 700;
    color: $Very-Dark-Blue;
    margin-top: 30px;
  }
  .percentage{
    font-size: 14px;
    position: absolute;
    right: 5%;
    bottom: 29%;
    font-weight: 700;
    color: $Lime-Green;
  }
  .low{
    color: $Bright-Red;
  }
  .bottom{
    margin: 0px 2px 2px 0px;
  }
  .background-changer{
    background-color: $Dark-Desaturated-Blue;
  }
}

.names-color-changer{
  color: $Desaturated-Blue;
}


/*------- Mobile Version -------*/
@media (max-width: 375px){
  body{
    padding: 0px;
  }
  .container{
    width: 375px;
    margin: 0;
    padding: 0;
  }
  /*------- Heading --------*/
  .first{
    padding: 20px 20px 0px 30px;
  }

  .heading{
    height: 60px;
    .header{
      font-size: 20.5px;
    }
    .follower{
      font-size: 14px;
    }
    &::after{
      content: '';
      position: absolute;
      background-color: gray;
      height: 2px;
      width: 95%;
      top: 100%;
    }
  }


/*------- Toggle Button --------*/
  .switch{
    width: auto;
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;

      .switcher{
        right: 0%;
        border-radius: 30px;
    }
  }


  // Names in card 
  .second{
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;

    .users{
      position: relative;
      height: auto;
      width: 95%;
      background-color: $Light-Grayish-Blue;
      margin-bottom: 20px;
      padding: 10px;
      overflow: hidden;
      border-radius: 6px;
    }

    .background-changer{
      background-color: $Dark-Desaturated-Blue;
    }

    // Social Icon and names
    .name{
      font-size: 12px;
      margin: 20px 0 16px 0;
    }
  }

  // Bottom Section (After Overview-Today)
  .third{
    padding: 20px 20px 0px 30px;

    .inner-third{
      display: block;
    }
    .page-overview{
      padding: 20px;
    }
    .views{
      font-weight: 700;
      color: $Dark-Grayish-Blue;
      margin-bottom: 20px;
      position: relative;
    }
    .big-num{
      font-size: 2em;
      font-weight: 700;
      color: $Very-Dark-Blue;
    }

    .percentage{
      bottom: 23%;
    }
    .low{
      color: $Bright-Red;
    }
    .background-changer{
      background-color: $Dark-Desaturated-Blue;
    }
  }
  .names-color-changer{
    color: $Desaturated-Blue;
  }
}